.form-container{
    margin: auto;
    text-align: center;
}
#contact-form {
    text-align: left;
}
fieldset{
    padding: none;
}
#contact,
#project-stage,
#project-details {
    display: inline-grid;
    display: -ms-inline-grid;
    border: none;
    width: 100%;
}
label {
    display: block;
    margin: 0.5rem 0;
}
input:focus-visible, select:focus-visible, textarea:focus-visible {
    border-bottom: 1px solid #ed7964;
    outline: none;
}
#project-details select,
#project-details input,
#project-details textarea,
#project-stage select,
#project-stage input,
#project-stage textarea,
#contact select,
#contact input,
#contact textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border: none;
    border-bottom: 1px solid #EEA185;
    background-color: transparent;
}
.warning-label{
    color: #ed7964;
}
@media screen and (min-width: 760px) {
    .form-container{
        width: 40%;
    }
}